.element__description {
    display: flex;
    padding: 25px 15px 31px 21px;
    justify-content: space-between;
    align-items: center;
}



@media screen and (max-width: 767px) { 
    .element__description {
        padding: 7.8125vw 4.6875vw 9.6875vw 6.5625vw;
    } 
}